*{margin: 0;padding:0;}
/*====================SIDE SECTION START===============*/
.side_wrapper{
    width:20%;
    height: 644px;
    background-color:#000000;
    float: left;
}

.image_wrapper{
    padding: 111px 0px 0px 33px;
 
}
.image_wrapper img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border:4px solid #5e5454;

}
.menu_wrapper{

}
.menu_wrapper ul{
    list-style: none;
    padding: 18px 75px;

}
.menu_wrapper ul li{
    padding:12px 0;

}
.menu_wrapper ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    line-height: 18px;
   
}
.menu_wrapper ul li a:hover{
    color:wheat;
}

/*====================SIDE SECTION START===============*/



/*====================MAIN CONTANT SECTION START===============*/

.contant_wrapper{
    width:80%;
    background-color:white;
    height: auto;
    float: left;
    
}



/*====================ABOUT PART ===============*/

.about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 107px 0px 0px 83px;
    margin-top: 100px;
    border-bottom: 2px solid gray;
}
.about h1{
    font-size: 50px;
    font-weight: bold;

}
.about h2{
    font-size:25px;
    
}
.color{
    color:orangered;
}
.about p{
    fon-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    padding:50px 0px 0px 0px;

}
.icon{
    
    padding: 68px 0px 172px 193px;
}

.fa{
    font-size: 50px;
    padding:0px 15px;
    color:gray;
}
.fa:hover{
    color:black;
}



/*====================EDUCATION PART SECTION START===============*/


.education{
    padding:107px 0px 0px 83px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid gray;
}
.education h1{
    color:black;
    font-size: 40px;
    padding:20px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .8;
}
.education h3{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:25px;
    padding:20px 0px 5px 0px;

}
.education h4{
    color:gray;
    font-size: 20px;
}
.education p{
    color:gray;
    padding:30px 0px;
   
}
#date{
    margin-top: -128px;
    float: right;
}




/*====================SKILLS PART START===============*/

.skills{
    padding: 107px 0px 30px 83px;

    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid gray;
}
.skills h1{
    color:black;
    font-size: 40px;
    padding:20px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .8;
}
.skills h3{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:25px;
    padding:20px 0px 5px 0px;
}
.skills ul {
    list-style: circle;
    padding: 0px 50px;
    color:darkgray;
}
.skills ul li{
   
}



/*====================INTEREST PART ===============*/


.interest{
    padding: 107px 0px 30px 83px;

    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid gray;
}
.interest h1{
    color:black;
    font-size: 40px;
    padding:20px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .8;

}
.interest p{
    color:gray;
    padding:30px 0px 0px 0px;
}
#para{
    padding:15px 0;

}

/*====================MAIN CONTANT SECTION END===============*/